@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-image: url(images/Rectangle-8.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu {
    background-image: url(images/Rectangle-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 24px;
    margin-bottom: 28px;
    margin-left: 95px;
    margin-right: 95px;
    gap: 70px;
}

.menu li {
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 100%;
    vertical-align: bottom;
    letter-spacing: 1%;
    color: #9C9C9C;
}

.social-media div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 26px;
    margin-bottom: 27px;
    margin-right: 95px;
    gap: 25px;
}

main {
    flex: 1;
}

main h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 66px;
    vertical-align: bottom;
    color: #FFFFFF;
}

main p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 1%;
    color: #9C9C9C;
}

.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 57px;
    margin-right: 180px;
    margin-left: 180px;
    gap: 32px;
    padding: 0%;
}

.left-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 42%;
}

.left-part p {
    flex-wrap: wrap;
}

.words {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 46px;
    gap: 20px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.button img {
    padding: 0;
    margin: 0;
}

.lower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    margin: 0 auto;
}

.text-lower {
    align-self: flex-start;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.logos-lower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logos-lower ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* margin-top: 24px;
    margin-bottom: 28px;
    margin-left: 95px;
    margin-right: 95px; */
    gap: 30px;
}

.logos-lower li {
    border: 1px solid #1B1B1B;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    width: 160px;
    height: 60px;
    border-radius: 6px;
}

.logos-lower img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

footer p {
    justify-content: center;
    color: #9C9C9C;
    font-size: 14px;
}